{% extends 'base.html' %}
{% block title %}Kursy{% endblock %}

<!-- Header -->
{% block meat %}
<header id="id-courses">
    <div class="container">
        <h1 align="center">Dostepne kursy</h1>
    </div>

    <!-- Courses list -->
    <div class="container">
        {% if course_list %}
            <ul id="course-list">
                {% for course in course_list %}
                    <li>
                        <h1>{{ course.title }}</h1>
                        <a href="#">Enroll</a>
                    </li>
                {% endfor %}

            </ul>
        {% else %}
            <h1> There is no available courses</h1>
        {% endif %}
    </div>
</header>
{% endblock %}
